.CardItem {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .ItemImg {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .ItemInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .ItemFooter {
    text-align: right;
  }
  
  .Option:hover {
    background-color: #e0e0e0;
  }

  section{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }
  