.Controls{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.Controls > button{
   width: 50px;
   height: 40px;
   border-radius: 5px;
}

.agregarAlCarrito > button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}